<app-nav-bar></app-nav-bar>


<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-2">
                <div class="col col-12 col-sm-6 col-md-4 col-lg-63 col-xl-3 col-xxl-3" *ngFor="let i of userInfo.data">
                    <div class="card">
                        <img  src="{{i.avatar}}" class="card-img-top" >
                        <div class="card-body">
                            <h6 class="card-title">{{i.first_name+' '+i.last_name}}</h6>
                            <p class="card-text">email : {{i.email}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>