<nav class="navbar navbar-expand-lg navbar-primary bg-danger rounded-bottom">
    <div class="container-fluid">
        <a class="navbar-brand font-monospace ml-4 " style="font-weight:bold " href="/">ApiApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link font-monospace" routerLink="/passenger">Passenger </a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-monospace" routerLink="/usPublic">USPublic </a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-monospace" routerLink="/publicApis">PublicApisLinks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-monospace" routerLink="/userInfo">UserInfo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-monospace" routerLink="/productList">ProductList</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-monospace" routerLink="/userData">UserData</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-monospace" routerLink="/todo">ToDo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-monospace" routerLink="/quotes">Quotes</a>
            </li>

        </ul>
    </div>
    </div>
</nav>