<app-nav-bar></app-nav-bar>


<div class="container ">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table font-monospace ">
                <thead class="bg-primary">
                    <tr>

                        <th scope="col">Name</th>
                        <th scope="col">Air Line</th>
                        <th scope="col">Country</th>
                        <th scope="col">Slogan</th>
                        <th scope="col">Website</th>
                        

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of passengers.data">
                    
                        <td>{{i.name}}</td>
                     
                        <td>{{i.airline[0].name}}</td>
                        <td>{{i.airline[0].country}}</td>
                        <td>{{i.airline[0].slogan}}</td>
                        <td><a class="" href="{{i.airline[0].website}}">Website</a></td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
</div>